* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    padding: 56px;
}

.title {
    font-size: 45px;
    font-weight: bold;
    padding: 13px 0px 0 16px;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row-container {
    height: 495px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.row {
    display: flex;
    height: 69px;
    width: 473px;
    justify-content: space-around;
}

.square {
    width: 70px;
    height: 68px;
    border: 5px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

@keyframes invalid-word {
    50% {
        border: 5px solid red;
    }
}

@keyframes rainbow {
    100%,
    0% {
      color: rgb(255, 0, 0);
    }
    8% {
      color: rgb(255, 127, 0);
    }
    16% {
      color: rgb(255, 255, 0);
    }
    25% {
      color: rgb(127, 255, 0);
    }
    33% {
      color: rgb(0, 255, 0);
    }
    41% {
      color: rgb(0, 255, 127);
    }
    50% {
      color: rgb(0, 255, 255);
    }
    58% {
      color: rgb(0, 127, 255);
    }
    66% {
      color: rgb(0, 0, 255);
    }
    75% {
      color: rgb(127, 0, 255);
    }
    83% {
      color: rgb(255, 0, 255);
    }
    91% {
      color: rgb(255, 0, 127);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.invalid-word {
    animation: invalid-word 1s;
}

.rainbow {
    animation: rainbow 4s infinite linear;
}

.spiral {
    animation: spin 2s infinite linear;
    width: 100px;
    top: 0;
    visibility: hidden;
}